body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #3b5a9a;
}
.header .content-left nav ul {
    margin: 0;
    padding: 0;
}
.header .content-left nav ul li {
    display: inline-block;
    font-family: "Barlow Condensed", sans-serif, Arial;
    font-size: 13px;
    color: #ffffff;
    padding: 3px;
}
.header .content-right {
    color: #ffffff;
}
/* END-HEADER */
/* START-FIRST */
@media (max-width: 500px) {
    .header .content-right {
        float: left;
    }
}
/* START-BANNER */
.banner img {
    background-size: 100px;
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}
/* END-BANNER */

/* START-jobOpportunities */
.jobOpportunities {
    background-color: #f9f9f9;
}
.jobOpportunities ul {
    list-style-type: none;
    padding: 0;
}
.jobOpportunities .fouth-content-detail {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.jobOpportunities .fouth-content-detail a {
    text-decoration: none;
}
.jobOpportunities ul li {
    padding: 5px 0px 5px 0px;
}
.jobOpportunities ul li:nth-child(odd) {
    background-color: #eee;
    border-radius: 5px;
}
.jobOpportunities .detailJob a{
    text-decoration: none;
    padding: 5px 30px;
    background: #3b5a9a;
    font-size: 15px;
    color: #fff;
    border-radius: 25px;
}
.jobOpportunities .readMore a {
    text-decoration: none;
    padding: 10px 30px;
    background: #f58220;
    font-size: 20px;
    color: #fff;
    border-radius: 25px;
}
/* END-jobOpportunities */

/* START-newsAndBlog */
.newsAndBlog .newsAndBlog-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.newsAndBlog .readmoreLocation a{
    text-decoration: none;
    padding: 10px 30px;
    background: #f58220;
    font-size: 20px;
    color: #fff;
    border-radius: 25px;
}
.newsAndBlog .detailNews a{
    text-decoration: none;
    padding: 5px 30px;
    background: #3b5a9a;
    font-size: 15px;
    color: #fff;
    border-radius: 25px;
}
/* END-newsAndBlog */

/* END-FIRST */
/* START-partner */

/* END-partner */
/* START-sendTheContact */
.sendTheContact {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f9f9f9;
}
.sendTheContact .textContent {
    padding: 20px 200px 20px 200px;
    text-align: center;
}
.sendTheContact form {
    padding: 20px 100px 20px 100px;
}
.sendTheContact form input {
    width: 100%;
    margin-bottom: 15px;
    height: 35px;
    border-radius: 5px;
    border: 2px solid #b9b9b9;
}
.sendTheContact form textarea {
    width: 100%;
    border-radius: 5px;
    border: 2px solid #b9b9b9;
    height: 100px;
}
/* END-sendTheContact */
/* START-FOOTER */
.footer {
    background-color: #19242a;
    color: #b9b9b9;
    padding-top: 25px;
}
.footer nav ul {
    list-style-type: none;
    margin-left: 0;
    padding: 0;
}
.footer nav ul li a {
    color: #b9b9b9;
}
/* END-FOOTER */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    background-size: 100px;
    height: 200px;
    width: 200px;
    object-fit: cover;
    object-position: center center;
    display: block;
}
